body {
	background-color: #222222;
	margin: 0 0 0 0;
	font-family: Arial;
}
h1,h2,h3{
    text-align: center;
    text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
    border-bottom: 1px solid black;
    padding-bottom : 5px;
}

#title_area {
	height: 80px;
	background-color: #333333;
	line-height: 80px;
    align-items: center;
    text-align: center;
}

.content_text {
	color: #FFFFFF;
}
#title_text {
	font-size: 30px;
	text-decoration: none;
	font-weight: bold;
}

.menu_button {
	font-size: 20px;
}
#login_status {
	float: right;
	margin-right : 9px;
}




.logform{
    margin-top: 45px;
    margin-left: 7px;
    margin-right: 7px;
    padding-bottom: 50px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    background-color: blanchedalmond;
    text-align: center;
}
.row{
    margin : auto;
    width : 100%;
    margin : 1px;
    padding : 5px;
}
.form-group{
    width : 50%;
    height : 50px;
    margin : auto;
    padding-top: 10px;
}
.forminfo{
    float : right;
    width : 200px;
    height : 30px;
}
.loginbtn{
    width : 33.33%;
    height : 50px;
    
    margin-bottom : 10px;
}

.findid, .findpw, .signupgo{
    margin-left : 20px;
    margin-top : 30px;
    background-color : aliceblue;
    border : none;
    font-weight: bold;
}


.signupform{
    margin: 45px 7px 0px 7px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    background-color: rgb(255, 255, 237);
    
}
.signupform-group{
    width : 300px;
    height : 50px;
    margin : auto;
    padding-top: 10px;
}
.signuplabel{
    float : left;
    width : 80px;
    height : 30px;
    margin-right: 5px;
    font-size : 12px;
}
.signupbtn{
    width : 33.33%;
    height : 40px;
    margin-left : 33.33%;
    margin-bottom : 10px;
    margin-top : 40px;
}

.content_image {
	width: 42px;
	height: 42px;
	background-repeat: no-repeat;
	background-position: center; 
	display: inline-block;
	margin-left: 10px;
	line-height: 28px;
}

.withdrawbtn{
    width : 33.33%;
    height : 40px;
    margin-left : 33.33%;
    margin-bottom : 10px;
    margin-top : 40px;
    font-weight: bold;
    text-emphasis-color: rgb(245, 93, 93);
    text-decoration-color: rgb(245, 93, 93);
    background-color: rgb(254, 165, 110);
}